*/__pycache__/
*.py[cod]

.env/
.vscode/
mindsweeper/__pycache__
sample.mind.gz
media/*
mindsweeper/save.pg.py
scripts/start_over_db.py
scripts/start.sh
mindsweeper/gui/mindsweeper/node_modules
mindsweeper/client copy.py
mindsweeper/server copy.py
mindsweeper/utils/reader copy.py
pose_file
result
ms_test_test
